<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Gerador de currículo - Formulário</title>
</head>
<body>
    
    <header>
        <div class="logo"></div>
        <div class="menu">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                    <a href="sobre.html">Sobre</a>
                    <a href="formulario.html">Formulario</a>
                </li>
            </ul>
        </div>
    </header>

    <div>

        <form class="fromGenerator">

            <div action="/curriculo" method="POST">

                <div class="slice">
                    <div class="title">Informações Pessoais</div>

                    <div class="form-group">
                        <label for="name">Nome:</label>
                        <input type="text" name="name" placeholder="Insira um nome">
                    </div>

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" name="email" placeholder="Insira seu email">
                    </div>

                    <div class="form-group">
                        <label for="age">Nascimento:</label>
                        <input type="text" name="age" placeholder="Insira o nascimento">
                    </div>

                    <!-- <div class="form-group">
                        <label for="gender">Sexo:</label>
                        <input type="radio" name="gender" value="1">Masculino
                        <input type="radio" name="gender" value="2">Femnino
                    </div>

                    <div class="form-group">
                        <label for="maritalStatus">Estado Civil:</label>
                    </div>

                    <select name="maritalStatus">
                        <option value="1">Solteiro</option>
                        <option value="2">Casado</option>
                        <option value="3">Qualquer</option>
                    </select>

                    </div> 
                </div> -->

                <button type="submit">Enviar</button>
            </form>

        </div>

    </main>

    <footer>footer</footer>

</body>
</html>